div.grid {
    width: 100%;
    margin: 0px;
}

a {
    float: left;
    width: 31%;
    padding-bottom: 31%;
    background-color: orange;
    border: 1% solid white;
    border-radius: 3%;
    margin: 1%;
}

a:hover{
    background-color: rebeccapurple
}
